<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Login y Registro</title>
    <link rel="stylesheet" href="resources/css/estilos.css">
</head>
<body>
    <div class="login-form">
        <h1>Login con Node JS</h1>
        <form action="/iniciar_session" method="POST">
            <input type="email" name="user" id="user" placeholder="Usuario">
            <input type="password" name="password" id="password" placeholder="Contraseña">
            <input type="submit" class="btn-login" value="Login">
        </form>
        <div class="form-registro">
            <a href="registro" class="btn-registrar">¿Desea Registrarse?</a>
        </div>
    </div>
    
     <!-- swetalert -->
     <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

     <% if(typeof alert != "undefined") { %>
         <script>
             Swal.fire({
                 title:'<%= alertTitle %>',
                 text:'<%= alertMessage %>',
                 icon:'<%= alertIcon %>',
                 showConfirmButton:'<%= showConfirmButton %>',
                 timer:'<%= timer %>'
             }).then(()=>{
                 window.location='/<%=  %>'
             })
         </script>
     <% } %>
</body>
</html>